<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>461455385820-mj1e4smh90a3b2ttb9gnps0hs7bebfpf.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.461455385820-mj1e4smh90a3b2ttb9gnps0hs7bebfpf</string>
	<key>API_KEY</key>
	<string>AIzaSyAs2_hNYM2hm0t15zocwPU42LhXpMR-9wk</string>
	<key>GCM_SENDER_ID</key>
	<string>461455385820</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.myFirstFlutterApp</string>
	<key>PROJECT_ID</key>
	<string>shopper-d9bac</string>
	<key>STORAGE_BUCKET</key>
	<string>shopper-d9bac.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:461455385820:ios:2df22bfc340f31bedf8019</string>
</dict>
</plist>